<form
  class="form-7fecb79b81c94"
  id="7fecb79b81c94"
  name="form7fecb79b81c94"
  [formGroup]="form7fecb79b81c94"
  name="form7fecb79b81c94"
>
  <mat-form-field
    class="input-matFormField-c0a72cb0218c4"
    floatLabel="auto"
    color="primary"
    appearance="fill"
  >
    <mat-label class="input-label-c0a72cb0218c4">
      Loan Applicant Name
    </mat-label>
    <input
      matInput
      class="input-c0a72cb0218c4"
      placeholder="Name"
      id="c0a72cb0218c4"
      name="inputc0a72cb0218c4"
      dir="ltr"
      [formControl]="inputc0a72cb0218c4"
      type="text"
    />
  </mat-form-field>
  <mat-form-field
    class="input-matFormField-e63c126b33e44"
    floatLabel="auto"
    color="primary"
    appearance="fill"
  >
    <mat-label class="input-label-e63c126b33e44"> Amount Required </mat-label>
    <input
      matInput
      class="input-e63c126b33e44"
      id="e63c126b33e44"
      name="inpute63c126b33e44"
      dir="ltr"
      [formControl]="inpute63c126b33e44"
      type="text"
    />
  </mat-form-field>
  <button
    type="button"
    class="button-b6c0f08b9d2f4"
    id="b6c0f08b9d2f4"
    name="buttonb6c0f08b9d2f4"
    fxFlexAlign="auto"
    mat-raised-button
    color="accent"
  >
    Add Additional Information
  </button>
  <button
    type="button"
    class="button-29eb1fe2d7344"
    id="29eb1fe2d7344"
    name="button29eb1fe2d7344"
    fxFlexAlign="auto"
    mat-raised-button
    color="primary"
  >
    Save
  </button>
</form>
