@media screen and (max-width: 1024px){
	.form-7fecb79b81c94{
	padding-left : 20px;
	padding-right : 20px;
	padding-top : 20px;
	padding-bottom : 20px;
	display : flex;
	flex-direction : column;
	align-items : center;
	row-gap : 10px;
	column-gap : 10px;
	height : 350px;
	width : 550px;
		
}
.input-matFormField-c0a72cb0218c4{
	width : 100%;
		
}
.input-matFormField-e63c126b33e44{
	width : 100%;
		
}
.button-b6c0f08b9d2f4{
	margin-bottom : 20px;
	align-self : flex-end;
		
}
.button-29eb1fe2d7344{
	align-self : flex-end;
		
}
	
}
.form-7fecb79b81c94{
	height : 300px;
	width : 300px;
		
}
