<form
  class="form-2743853cfa684"
  id="2743853cfa684"
  name="form2743853cfa684"
  [formGroup]="form2743853cfa684"
  name="form2743853cfa684"
>
  <mat-form-field
    class="input-matFormField-658a6096725b4"
    floatLabel="auto"
    color="primary"
    appearance="fill"
  >
    <mat-label class="input-label-658a6096725b4"> Name </mat-label>
    <input
      matInput
      class="input-658a6096725b4"
      placeholder="name"
      id="658a6096725b4"
      name="input658a6096725b4"
      dir="ltr"
      [formControl]="input658a6096725b4"
      type="text"
    />
  </mat-form-field>
  <mat-form-field
    class="input-matFormField-9061d0f5fb984"
    floatLabel="auto"
    color="primary"
    appearance="fill"
  >
    <mat-label class="input-label-9061d0f5fb984"> Place </mat-label>
    <input
      matInput
      class="input-9061d0f5fb984"
      id="9061d0f5fb984"
      name="input9061d0f5fb984"
      dir="ltr"
      [formControl]="input9061d0f5fb984"
      type="text"
    />
  </mat-form-field>
  <mat-form-field
    class="input-matFormField-3d25ee3156024"
    floatLabel="auto"
    color="primary"
    appearance="fill"
  >
    <mat-label class="input-label-3d25ee3156024"> Phone no </mat-label>
    <input
      matInput
      class="input-3d25ee3156024"
      placeholder="03040489384"
      id="3d25ee3156024"
      name="input3d25ee3156024"
      dir="ltr"
      max="null"
      min="null"
      minLength="11"
      maxLength="9"
      [formControl]="input3d25ee3156024"
      type="number"
    />
  </mat-form-field>
  <button
    type="button"
    class="button-846095efb2fc4"
    id="846095efb2fc4"
    name="button846095efb2fc4"
    fxFlexAlign="auto"
    mat-raised-button
  >
    Save
  </button>
  <span class="checkbox-span-5763586e0f554">
    <mat-checkbox
      class="checkbox-5763586e0f554"
      id="5763586e0f554"
      name="checkbox5763586e0f554"
      dir="ltr"
      labelPosition="after"
      [formControl]="checkbox5763586e0f554"
      >agreed to the policies
    </mat-checkbox>
  </span>
</form>
